<div class='mt-4'>
    <h2>Thêm câu lạc bộ</h2>
    <form method='POST' action='/clubs/store'> {{!-- Nó sẽ submit dữ liệu ở file store. Nếu để action trống thì nó sẽ submit dữ liệu ở file create--}}
        <div class='form-group'>
            <label for='Name'>Name</label>
            <input type='text' class='form-control' id='Name' name='Name' placeholder='Enter Name'>
        </div>
        <div class='form-group'>
            <label for='Donors'>Donors</label>
            <input type='text' class='form-control' id='Donors' name='Donors' placeholder='Enter Donors'>
        </div>
        <div class='form-group'>
            <label for='Nickname'>Nickname</label>
            <input type='text' class='form-control' id='Nickname' name='Nickname' placeholder='Enter Nickname'>
        </div>
        <div class='form-group'>
            <label for='VideoID'>VideoID</label>
            <input type='text' class='form-control' id='VideoID' name='VideoID' placeholder='Enter VideoID'>
        </div>
        <button type='submit' class='btn btn-primary'>Thêm đội bóng</button>
    </form>
</div>

{{!-- Các thẻ name phải có giá trị giống y chang như models --}}